body{
    background: rgba(25, 71, 31, 0.603);
    font: normal 15pt Arial;
}
header{
    color: white; /**Da fonte**/
    text-align: center; /**Centralizar Texto**/
}
section{
    background: white;
    border-radius: 10px;  /**Borda arredondada**/
    padding: 15px;  /**aumentar tamanho da area**/
    width: 500px; /**largura**/
    margin: auto; /**Centralizar**/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37); /**Sombra da área central**/
    text-align: center;
}
footer{
    color: white; /**Da fonte**/        
    text-align: center; /**Centralizar Texto**/
    font-style: italic; /**fonte do Texto em italico**/
}